@import "~bootstrap/dist/css/bootstrap.min.css";
.background {
  background-image: url('/assets/bonjour.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
