<div>
  <input
    type="text"
    placeholder="Entrez votre nom"
    [(ngModel)]="name"
  />


  <select [(ngModel)]="fontFamily">
    <option value="Arial">Arial</option>
    <option value="Verdana">Verdana</option>
    <option value="Times New Roman">Times New Roman</option>
  </select>

  <input
    type="number"
    [(ngModel)]="fontSize"
    placeholder="Taille de police (ex : 16)"
  />

  <label><input type="radio" name="alignment" [(ngModel)]="alignment" value="left"> Gauche</label>
  <label><input type="radio" name="alignment" [(ngModel)]="alignment" value="center"> Centré</label>
  <label><input type="radio" name="alignment" [(ngModel)]="alignment" value="right"> Droite</label>

  <p [ngStyle]="{'font-family': fontFamily, 'font-size.px': fontSize, 'text-align': alignment}" class="styled-text">
    Bonjour {{ name | uppercase }} !
  </p>


</div>
